# .gitignore 파일 내용에 추가
Node_File/
unitree_legged_sdk/
Node_File_Go1/
path_record/
result_log/
RoboMaster-SDK/
aruco_data.json
# code_fix.md
Answer_code.py
visual_scripting_Int_v11.py
Go1_DS.py
Captured_Images/
mode_Test.cpp
ep01_capture.py
ep01_sender.py
ep01_server_stream.py